h4{
    float: none;
    padding-left: 20px;
    font-size: 30px;
}

a {
    float: none;
    font-size: 20px;
    text-align: center;
}

img {
    float: left;
}

#haku {
    text-align: center;
    font-size: 20px;
}

body
{
    margin:0;
    background-color: #fff8f1;
}

.header {
    width: 100%;
    height: 800px;
    background: url("../img/mansikat-header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
}

/* If screen width is < 920px */
@media screen and (max-width: 920px) {

    .search-container {
        display: none;
    }

    .main-search-container input[type=text] {
        width: 85%;
    }

    .main-search-container button {
        width: 10%;
    }

    .header {
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .results {
        padding-top: 80px;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .results {
        grid-template-columns: auto auto;
    }

    .results img {
        width: 100%;
        height: 100%;
    }

    .col-1-1 {width: 100%;}
    .col-2-1 {width: 100%;}
    .col-1-2 {width: 100%;}
    .col-1-2 {
        padding-top: 40px;
    }

    .col-2-2 {width: 100%;}
}

/* If screen width is > 920px */
@media screen and (min-width: 921px) {
    .results {
        grid-template-columns: auto auto auto;
    }

    .col-1-1 {width: 40%;}
    .col-1-2 {width: 40%;}
    .col-2-1 {width: 60%;}
    .col-2-2 {width: 60%;}
    .col-1-2 {
        padding-top: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width: 1382px) {
    .results {
        grid-template-columns: auto auto auto auto;
    }

    .col-1-1 {width: 40%;}
    .col-1-2 {width: 40%;}
    .col-2-1 {width: 60%;}
    .col-2-2 {width: 60%;}

    .col-1-2 {
        padding-top: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 630px) {
    .results {
        grid-template-columns: auto;
    }

    .col-1-1 {width: 100%;}
    .col-2-1 {width: 100%;}
    .col-1-2 {width: 100%;}
    .col-2-2 {width: 100%;}
    .col-1-2 {padding-top: 40px;}
}

/* Search bar: */
.search-container {
    float: right;
    padding: 6px;
    border: none;
    margin-right: -40px;
    font-size: 0px;
}

.topnav input[type=text] {
    border: 1px solid #fff;
}

.searchTerm {
    width: 250px;
    height: 35px;
    border: 1px solid #f3f3f3;
    border-right: none;
    padding: 4px;
    border-radius: 10px 0 0 10px;
    outline: none;
    background-color: #f3f3f3;
    color: #1d1d1d;
}

.searchTerm:focus{
    color: #1d1d1d;
}

.searchButton {
    width: 35px;
    height: 35px;
    border: 1px solid #f3f3f3;
    background: #f3f3f3;
    text-align: center;
    color: #1d1d1d;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
/* Top Nav end*/

/* Main search bar: */
.main-search-container {
    padding: 6px 6px 6px 7%;
    border: none;
    margin-top: -105px;
    margin-right: 16px;
    font-size: 0px;
}

.main-searchTerm {
    width: 500px;
    height: 60px;
    padding: 25px;
    font-size:20px;
    padding-top: 25px;
    border:none;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: #1d1d1d;
    box-shadow: 15px 10px 14px #00000042;
}

.main-searchTerm:focus{
    color: #1d1d1d;
}

.main-search-container input[type=text] {
}

.main-searchButton {
    width: 50px;
    height: 60px;
    padding-top: 4px;

    /*border: 0px solid #cbcbcb;*/
    border:none;
    background: #fff;
    text-align: center;
    color: #1d1d1d;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    box-shadow: 15px 10px 14px #00000042;
}
/* Main search bar end */

/*Top Nav*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container2 {
    position: absolute;
    /* margin: 20px; */
    width: 100%;
}

nav{
    FONT-WEIGHT: 500;
    display: flex;
    height: 55px;
    width: 100%;
    background: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px 0 50px;
    flex-wrap: wrap;
    box-shadow: 0px 10px 14px #0c0c0c52;
}
nav .logo{
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Pacifico', cursive;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    color: #fff;
    background: #ff5f5f;
}
nav .menu-btn i{
    color: #000;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
input[type="checkbox"]{
    display: none;
}

@media (max-width: 1000px){
    nav{
        padding: 0 40px 0 50px;
    }
}
@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
    }

    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 55px;
        left: -100%;
        background: #ffffff;
        height: 250px;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        box-shadow: 0px 10px 14px #0c0c0c52;
    }
    #click:checked ~ ul{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        font: small-caps 16px sans-serif;
    }
    #click:checked ~ ul li a{
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #ff2a2a;
    }
}

/* Hakutulokset: */
.results {
    padding-top: 80px;
    width: 100%;

    display: grid;
    justify-content: center;
}

.results .item {
    /*padding: 20px;*/
    background-color: white;
    color: #2b2b2b;
    border-radius: 5px 5px 5px 5px;
    margin: 20px;
    max-width: 310px;
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-box img {
    max-width: 100%;
    transition: all 0.5s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    border-radius: 5px 5px 0px 0px;
}

.results p {
    font-size: 18px;
    font-weight: normal;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: bold;
}

.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.image-box:hover img {
    transform: scale(1.1);
}
/* Hakutulokset end */

/* Recipe page: */
[class*="col-"] {
    float: left;
}

.ingredients-card {
    padding: 20px 20px 20px 45px;
    background-color: #ffdbbb;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

.col-2-2 {
    padding-top: 40px;
}

.steps-card {
    padding: 20px 20px 20px 45px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

.recipe-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 130px 30px 30px;
    /*border: 5px solid red;*/
    height: 1100px;
}

.title {
    font-family: 'Questrial', sans-serif;
    font-size: 50px;
}

.image {
    max-width: 100%;
    width: 700px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

.recipe-container p {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    padding-top: 8px;
}

.ingredients-steps-title {
    font-family: 'Questrial', sans-serif;
    font-size: 24px;
    font-weight: 900;
    padding-top: 20px;
    text-transform: uppercase;
    margin: 0px 0px 20px;
}

ol li::marker {
    font-weight: bold;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
}

ol li {
    padding-top: 15px;
    padding-left: 30px;
    font-size: 18px;
    font-family: 'Questrial', sans-serif;
}

.time-serv-container {
    padding: 15px 0px 30px;
}

.clock-container {
    float:left;
}

.clock-container p {
    padding-top: 15px;
    padding-left: 60px;
    font-weight: bold;
}

.serv-container {
    padding-left: 160px;
}

.serv-container p {
    padding-top: 15px;
    padding-left: 60px;
    font-weight: bold;
}

.ohje-icon {
    padding-right: 15px;
    padding-top: 6px;
}

.ingr-unit {
    text-align: right;
    max-width: 90px;
    float:left;
    font-weight: bold;
}

.ingr-name {
    max-width: 200px;
    padding-left: 80px;
}
/*Toggle button styling*/
.toggleContainer {
    position: relative;
    width: 120px;
    height: 30px;
    border: thin solid #000;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

.switch {
    position: absolute;
    width: 50%;
    height: 99%;
    background-color: #0000002c;
    transition: all 0.15s ease;
    border-radius: 10px;
    left: 0;
    z-index: 1;
}

.toggleContainer.off {

    border: thin solid #000;
}

.toggleContainer.off .switch {
    left: 50%;
    background-color: #0000002c;
}
.label {
    position: absolute;
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 5px;
}

.label.right {
    left: 50%;
}
/*Toggle button styling end*/

/* back button: */
.back-button{
    position: absolute;
    margin: 50px 0px 0px 20px;
    padding: 5px;
    float: left;
    font-weight: bold;
}

.back-button a{
    text-decoration: none;
    color: #000;
}

.back-button:hover{
    background-color: #0000001c;
}
/* back button end */
/* Recipe page end */



/* Restaurants page:*/
/* Map: */
/*#mapcontainer {
    height: 80%;
    width: 70%;
    padding-top: 30px;
    padding-bottom: 30px;
    position:absolute;
    text-align:center
}*/

#map {
    height: 90%;
    width: 92%;
    align-content: center;
    border-radius: 5px 5px 5px 5px;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-for-map {
    height: 500px
}
/* Map end*/

.ravintolat-item {
    margin:5px;
    float:left;
    align-content: center;
    background-color: #ffdbbb;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
    width: 100%;
    overflow: hidden;
    margin-top: 13px
}

.ravintolan-nimi {
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    text-align: center;
    padding-top: 2px;
}

p {
    font-family: 'Questrial', sans-serif;
    float: none;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
}

@media screen and (max-width: 920px) {
    #mapcontainer {
        height: 700px;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        position:absolute;
        text-align:center
    }

    #map-results-container {
        max-width: 100%;
        padding-left:2%;
        padding-right:2%;
        padding-top: 680px;
    }
}

@media screen and (min-width: 921px) {
    #mapcontainer {
        height: 80%;
        width: 70%;
        padding-top: 30px;
        padding-bottom: 30px;
        position:absolute;
        text-align:center
    }

    #map-results-container {
        max-width: 100%;
        padding-left: 69%;
        padding-right:2%;
    }
}
/* Restaurants page end*/


/* vlog */
/* Video: */
@media screen and (max-width: 920px) {
    .video {
        max-width: 100%;
        padding-top: 20px;
    }
}

@media screen and (min-width: 921px) {
    .video {
        max-width: 1000px;
        display: block;
        margin: 0 auto;
        padding-top: 20px;
    }
}
/* Video end */

.cwu {
    padding-top: 80px;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 80px;
    font-family: 'Pacifico', cursive;
}

h3 {
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
    font-family: 'Questrial', sans-serif;
}

.download {
    padding-top: 25px;
    font-family: 'Questrial', sans-serif;
    margin-left: 70px;
}

footer {
    text-align: center;
    padding: 3px;
    color: white;
    height: 90px;
}