h2{
    font-size: 40px;
    text-align: center;
}

h3 {
    font-size: 25px;
    text-align: center;
}

h4{
    float: none;
    padding-left: 20px;
    font-size: 30px;
}

a {
    float: none;
    font-size: 20px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

img {
    float: left;
}

#haku {
    text-align: center;
    font-size: 20px;
}
body
{
    margin:0;
    background-color: #ffffff;
}

.header {
    width: 100%;
    height: 700px;
    /*background-image: url("../img/mansikat.png");*/
    background: url("../img/mansikat.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
}

.picFormat {
    margin:5px;
    border: 2px solid #ccc;
    float:left;
    align-content: center;
    background-color: gray;
    width: 100%;
    overflow: hidden;
}

.description
{
    padding: 15px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#mapcontainer {
    height: 80%;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    position:fixed;
    text-align:center
}

#map {
    height: 50%;
    width: 92%;
    align-content: center;
    border-radius: 5px 5px 5px 5px;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* If screen width is <= 920px: */
@media screen and (max-width: 920px) {

    .search-container {
        display: none;
    }

    .main-search-container input[type=text] {
        width: 85%;
    }

    .main-search-container button {
        width: 10%;
    }

    .header {
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .results {
        padding-top: 80px;
        width: 100%;
        /*margin: 0px;*/
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .results {
        grid-template-columns: auto auto;
    }

    .results img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 921px) {
    .results {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 1382px) {
    .results {
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and (max-width: 630px) {
    .results {
        grid-template-columns: auto;
    }
}

/* Search bar: */
.search-container {
    float: right;
    padding: 6px;
    border: none;
    margin-right: -40px;
    font-size: 0px;
}

.topnav input[type=text] {
    border: 1px solid #fff;
}

.searchTerm {
    width: 250px;
    height: 35px;
    border: 1px solid #f3f3f3;
    border-right: none;
    padding: 4px;
    border-radius: 10px 0 0 10px;
    outline: none;
    background-color: #f3f3f3;
    color: #1d1d1d;
}

.searchTerm:focus{
    color: #1d1d1d;
}

.searchButton {
    width: 35px;
    height: 35px;
    border: 1px solid #f3f3f3;
    background: #f3f3f3;
    text-align: center;
    color: #1d1d1d;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
/* Top Nav end*/


/* Main search bar: */
.main-search-container {
    /*float: left;*/
    padding: 6px;
    padding-left: 6%;
    border: none;
    margin-top: -100px;
    margin-right: 16px;
    font-size: 0px;

}

.main-searchTerm {
    width: 460px;
    height: 52px;
    padding: 25px;
    font-size:20px;
    padding-top: 21px;
    /*border: 15px solid #fff;
    border-right: none;*/
    /*padding: 5px;*/
    border:none;
    border-radius: 25px 0 0 25px;
    outline: none;
    color: #1d1d1d;
    box-shadow: 15px 10px 14px #00000042;
}

.main-searchTerm:focus{
    color: #1d1d1d;
}

.main-search-container input[type=text] {
    /*border: 1px solid #fff;*/
}

.main-searchButton {
    width: 50px;
    height: 52px;
    /*border: 0px solid #cbcbcb;*/
    border:none;
    background: #fff;
    text-align: center;
    color: #1d1d1d;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    box-shadow: 15px 10px 14px #00000042;
}
/* Main search bar end: */



/*New top Nav test*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    FONT-WEIGHT: 500;
    display: flex;
    height: 55px;
    width: 100%;
    background: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px 0 50px;
    flex-wrap: wrap;
    box-shadow: 0px 10px 14px #0c0c0c52;
}
nav .logo{
    color: #000000;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Archivo Black', sans-serif;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    color: #fff;
    background: #ff5f5f;
}
nav .menu-btn i{
    color: #000;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
input[type="checkbox"]{
    display: none;
}

@media (max-width: 1000px){
    nav{
        padding: 0 40px 0 50px;
    }
}
@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
    }

    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 55px;
        left: -100%;
        background: #ffffff;
        height: 200px;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        box-shadow: 0px 10px 14px #0c0c0c52;
    }
    #click:checked ~ ul{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        font: small-caps 16px sans-serif;
    }
    #click:checked ~ ul li a{
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #ff2a2a;
    }
}

.container2 {
    position: absolute;
    /* margin: 20px; */
    width: 100%;
}

.results {
    padding-top: 80px;
    width: 100%;

    display: grid;
    justify-content: center;
}

.results .item {
    /*padding: 20px;*/
    margin: 18px;
}

.results img {
    width: 100%;
    height: auto;
    padding: 10px;

}

.results img:hover {
    transform: scale(1.05);
    transition: all 0.4s ease;
}

.results p {
    font-size: 18px;
    font-weight: normal;
}